button {
  z-index: 102;
}
#featured-companies {
  position: relative;
}
.card-block { 
  padding: 4rem 1.25rem 3rem;
}
.slick-slide {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  opacity:0;
}

.slick-slide.slick-center {
  opacity: 1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.slick-slide.slick-active{
  opacity: 1 !important; 
} 

.switch {
  background: #000;
}
.slider {
  margin: 0 auto;
  position: relative;
}
.slider:after,
.slider:before {
  content: ""; 
  height: 100%;
}
.slider:after {
  right: 0;
  background: transparent; 
}
.slider:before {
  background: transparent; 
}
#featured-companies article {
  margin: 15px;
}
 
 .slick-next  {
    top: 50%;
    z-index: 4;
    width: 20px;
    height: 38px;
    margin-top: -19px;
    outline: 0;
    border:0;
    background: url(../img/sprite.png) no-repeat;
    background-position: -22px 0;
    position: absolute;
    right: 10%;
}
 .slick-prev  {
    top: 50%;
    z-index: 4;
    width: 20px;
    height: 38px;
    margin-top: -19px;
    outline: 0;
    border:0;
    background: url(../img/sprite.png) no-repeat;
    background-position: -66px 0;
    position: absolute;
    left:10%;
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button::before {
    font-family: slick;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #37474f;
}






