button {
  z-index: 102;
}
#featured-companies {
  position: relative;
}
.card-block { 
  padding: 4rem 1.25rem 3rem;
}
.slick-slide {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  opacity:0;
}

.slick-slide.slick-center {
  opacity: 1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.slick-slide.slick-active{
  opacity: 1; 
} 
.switch {
  background: #000;
}
.slider {
  margin: 0 auto;
  position: relative;
}
.slider:after,
.slider:before {
  content: ""; 
  height: 100%;
}
.slider:after {
  right: 0;
  background: transparent; 
}
.slider:before {
  background: transparent; 
}
#featured-companies article {
  margin: 15px;
}
 
 .slick-next  {
    top: 50%;
    z-index: 4;
    width: 20px;
    height: 38px;
    margin-top: -19px;
    outline: 0;
    border:0;
    background: url(../img/sprite.png) no-repeat;
    background-position: -22px 0;
    position: absolute;
    right: 10%;
}
 .slick-prev  {
    top: 50%;
    z-index: 4;
    width: 20px;
    height: 38px;
    margin-top: -19px;
    outline: 0;
    border:0;
    background: url(../img/sprite.png) no-repeat;
    background-position: -66px 0;
    position: absolute;
    left:10%;
}









