::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    border-radius: 0
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .5)
}

body,
html {
    height: 100%
}
.modal .blockquote {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important; 
}

small {
    font-size: 70%
}
address,
cite,
dfn,
em,
i,
var {
    font-style: normal !important
}

.card {
    -webkit-flex-direction: initial !important;
    -ms-flex-direction: initial !important;
    flex-direction: initial !important;
}

#sellerModal .close, #buyerModal .close, #requestContactModal .close{
    position: absolute; 
    right: 10px; 
    top: 10px;
    z-index: 1000;
}
#seller_industry_chosen .default {
    color: #636c72 !important;
    opacity: .8;
}

 
.form-wrapper,
header .row {
    padding-top: 0;
    padding-bottom: 0
}
.navbar {
    background-color: #fff;
    border-radius: 0!important;
    z-index: 1000!important
}

#apply-navbar {
    margin: 0 -15px 0 0;
    box-shadow: none;
    float: right;
    pointer-events: none;
}

header #apply-navbar {
    height:100%;font-size: 22px;
}

.scrolling-navbar {
    -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, padding .3s ease-in-out
}

.top-nav-collapse {
    background-color: #f94b71;
    pointer-events: all !important
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    border: none
} 

/* Footer */

footer a{
    color: rgba(255, 255, 255, .5)
}
footer a:hover, footer a:focus {
    color: rgba(255, 255, 255, .8)
}

footer ul {
    margin-top: 1.5rem;
}

footer ul li {
    display: inline-block;
    line-height: 25px;
    margin: 0 15px 0 0;
    font-size: .8rem
}

#go-back {
    position: absolute;
    top: -30px;
    z-index: 3000;
    right: 15px
}
/* Select Plugin */
.chosen-container {
    width: 100%!important;
    font-size: 1rem;
    border-bottom: 1px solid #ccc!important
}

.chosen-container-single {
    margin-top: 10px;
    margin-bottom: 20px
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-choices {
    padding: 0!important;
    border: none!important;
    background-image: none!important
}

.chosen-container .chosen-drop {
    z-index: 3000!important;
    border-radius: 2px!important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)!important;
    min-width: 124px!important;
    max-height: 300px!important;
    border: none
}

.chosen-container-active .chosen-choices {
    border: none!important;
    box-shadow: none!important
}

.chosen-container .chosen-results {
    padding: 0!important;
    margin: 0!important;
    border-radius: 2px!important
}

.chosen-container .chosen-results li {
    background: #fff!important;
    color: #464a4c!important;
    font-size: 16px;
    line-height: 19px;
    min-height: 19px;
    padding: 10px 14px 8px;
    transition: background cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    outline: 0;
    box-sizing: content-box
}

.chosen-container .chosen-results li:hover {
    background: #eee!important
}

.chosen-choices li.search-choice {
    border: none!important;
    background-image: none!important;
    box-shadow: none!important
}

.chosen-container-multi .chosen-drop .result-selected {
    color: #ccc!important
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #1C2331!important
}

.chosen-container-single .chosen-single {
    padding: 0!important;
    border: none!important;
    background: 0 0!important;
    box-shadow: none!important
}

.chosen-search-input {
    width: 100%!important
}

/* Calculator */

#calculator-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #4772d9 30%, #756de3 60%, #756de3);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 2000;
    float: right
}

#calculator-wrapper .form-control {
    margin-top: 1rem
}

#calculator-wrapper h2,
#calculator-wrapper h3,
#calculator-wrapper h4,
#calculator-wrapper input,
#calculator-wrapper p {
    color: #fff!important
}

#calculator-wrapper .input-group-addon {
    color: rgba(255, 255, 255, .8);
    background-color: transparent
}

#calculator .chosen-container-single .chosen-search input[type=text] {
    border: none;
    width: 90% !important;
    color: #464a4c !important
}

#calculator #calculatorIndustry .default_single_text,
#calculator .chosen-default {
    color: rgba(255, 255, 255, .8) !important;
}
#calculator-wrapper input.change::-webkit-input-placeholder {
            color: #fff; 
            opacity:.8;
        }

        #calculator-wrapper input.change::-moz-placeholder {
            color: #fff; 
            opacity:.8;
        }

        #calculator-wrapper input.change:-ms-input-placeholder {
            color: #fff; 
            opacity:.8;
        }

        #calculator-wrapper input.change:-moz-placeholder {
            color: #fff; 
            opacity:.8;
        }

#calculator-wrapper .mdl-selectfield__box {
    border-bottom: 1px solid #ccc!important
}

#calculator-wrapper .mdl-selectfield__list-option-box {
    top: 15px
}

#calculator-wrapper .mdl-selectfield__box>i {
    color: #ccc!important
}
#range-from,
#range-to {
    font-weight: 200
}

.input-group-addon-from,
.input-group-addon-to {
    font-size: 285%;
    font-weight: 200;
    padding: 0;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    width: 8%
}

#calculator-wrapper.mdl-selectfield__box>.mdl-selectfield__arrow-down__container .mdl-selectfield__arrow-down {
    border-top: 5px solid rgba(255, 255, 255, .6)!important
}

#unicorn {
    width: 80%;
    margin-bottom: 10%;
    margin-top: 10%
}

.checkbox-label {
    color: #757575;
    font-size: .8rem
}

#valuation-range input[type=text]:disabled {
    font-size: 285%;
    color: #fff;
    border-bottom: none;
    cursor: text
}

/* Main */
#logo,
.main-text {
    webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 0;
    padding: .8rem 0 .8rem 1.375rem;
    height: 100%;
    display: inline-flex
}

#main,
.main-text {
    padding: 0
}

#main .row:first-child {
    height: auto
}

/* Sections */ 

#why-us-section,
#testimonial,
#about-section,
#buyers-section,
#featured-companies,
#buyer-get-notified, 
#news-section,
#contact-us {
    padding-top: 60px;
    padding-bottom: 60px;
    height:auto;
    background-color: #f3f3f3
} 
#testimonial .card {
    background-color: #37474f;
}
#testimonial blockquote{
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0.5rem 7rem;
}
#testimonial blockquote p{
    font-size: 1rem;
    padding-left:0;
    color:#fff;
}
#testimonial blockquote .fa{
    font-size:40px;
    color:rgba(255,255,255,.2);
    padding-bottom: 2rem;
}
#testimonial .blockquote-footer {
    color:rgba(255,255,255,.5);
}
#testimonial .gray-box {
    color: #c8c8c8;
    color: transparent;
    background-color: #c8c8c8;
    background-color: rgba(55,71,79,0.05);
    text-shadow: 0 0 7px #eee;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#featured-companies {
    padding-bottom: 50px;
}
.title-wrapper {
    padding-bottom: 50px;
}
#why-us-section {
    margin-top: -70px;
} 
#why-us-section .title-wrapper {
    padding-top: 70px;
}  
#why-us-section img {
    width:50%;
    padding-bottom:20px;
}  
#why-us-section .reason-1 {
   margin: 1rem 3rem 1rem 7rem; 
} 
#why-us-section .reason-2 {
   margin: 1rem 5rem; 
} 
#why-us-section .reason-3 {
   margin: 1rem 7rem 1rem 3rem;
} 
#about-section .blockquote {
    /*padding: 1.6rem 3rem; */
    border-right: 1px solid #4285F4;
} 
#about-section .right-side {
        padding-right: 23%;
}
#featured-companies {
    /*background-image: url(../img/map.png);*/
    background-size: auto;
    height: auto;
    text-align: center
}
#request-modal-dialog {
    max-width: 1000px;
} 
#request-modal-dialog .request-card-left {
    margin-top:2.3rem;
    padding-right: 45px;
}
#request-modal-dialog .request-card-left p{ 
    margin-bottom: 1.5rem;padding-right:20px;
} 
#request-modal-dialog  .card-block {
    padding: 3rem 1.25rem;
}
#featured-companies #buyer-ajax {
    /*background-color:#64ffda; color: #37474f !important;*/
    margin: 0px;
} 
#buyer-get-notified {
    padding-top: 0px;
}

/* Section: Landing */
#landing {
    padding-top: 85px;
}
#landing #left-side .main-text {
    height: 100%;padding: 70px 0;
    align-items: center;
}
#landing #left-side #apply-main{
    margin: 1.5rem 0;font-size: 22px;
    width:50%;
}
#landing #right-side {
    height:100%;padding:0;border-top-left-radius:6px;border-bottom-left-radius:6px;
}
#landing #right-side .form-wrapper .col-lg-5,
#landing #right-side .form-wrapper .col-lg-7 {
    padding: 1rem 2rem 3.8rem;
}
#landing #right-side #valuation-range .input-group-addon-from{
    border-bottom: none !important;padding-left: 0;padding-right: 0;
}
#landing #right-side #valuation-range input{
    padding-left: 8%;width: 92%; font-weight: 200;height:100%;
}
#landing #right-side #text-link-1 {
    color:#fff;text-decoration:underline;
}

/* Section: About */
#about-section blockquote p {
    padding:0;
}
#about-section .left-side blockquote h4 {
    padding:0;margin-bottom:0;
}
#about-section .right-side h3 {
    font-weight: 300; margin-bottom: 1rem;
}
#about-section .right-side p {
    margin-bottom: 2rem;
}

/* Section: For Buyers */

#buyers-section .buyers-section {
    padding-top: 30px;padding-bottom: 30px;
}
#buyers-section .buyers-section p {
    font-size: 24px;line-height: 32px; font-weight:200;
}

/* Section: News */

#news-section .news-wrapper {
    overflow: auto;padding:0;margin: 0;    
}
#news-section .first-block {
    padding:40px;background-color: #fff;border-top-left-radius: 6px; border-bottom-left-radius: 6px;
}
#news-section .second-block {
    padding:60px;background: #37474f;opacity:0.8;display: flex;align-items: center;border-top-right-radius: 6px;border-bottom-right-radius: 6px;
}
#news-section .first-block #wrapper {
    max-height:700px;height:auto;overflow-y:scroll;
} 
#news-section .second-block .news-subscription {
    width: 100%;
}
#news-section .second-block .news-subscription button {
    width: 100%;margin-left:0;margin-right:0;
}

#subscribers-for-news .md-form input {
    color: rgba(255, 255, 255, 1)
}

#subscribers-for-news input.change::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .8)
}

#subscribers-for-news input.change::-moz-placeholder {
    color: rgba(255, 255, 255, .8)
}

#subscribers-for-news input.change:-ms-input-placeholder {
    color: rgba(255, 255, 255, .8)
}

#subscribers-for-news input.change:-moz-placeholder {
    color: rgba(255, 255, 255, .8)
}

#contact-us #contact_email{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
#contact-us .radio-wrapper{
    display: inline-block;
    width:49%;
}
#contact-us .radio-wrapper:first-child{
    width:50%;
}

#radioBtn {
    width: 100%;
}
#radioBtn a {
    border: 1px solid #37474f;
    width: 33.3333333333%;
    background: #37474f;
    opacity: 0.8;
    /*background-color: #9e9e9e;*/
    box-shadow:none;
    margin-bottom: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 1rem;
}
#radioBtn .notActive{
    border: 1px solid #9e9e9e;
    background-color: transparent;
    color: #636c72 !important;
}
   

.for-radio {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
    color: rgba(99,108,114,.8); 
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    /*margin-top: 2em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #ccc;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #464a4c;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #3CD7B2;
    background-color: #64ffda;
    -webkit-transition: background .2s ease-in-out, padding .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, padding .2s ease-in-out;
    transition: background .2s ease-in-out, padding .2s ease-in-out
}

input.radio:checked ~ label {
    color: #464a4c;
} 
 






/* Tooltips */
.mdl-tooltip {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    z-index: 999;
    background: rgba(97, 97, 97, 1);
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    max-width: 170px;
    position: fixed;
    top: -100px;
    left: -100px;
    padding: 8px;
    text-align: center
}

.mdl-tooltip.is-active {
    -webkit-animation: pulse .2s cubic-bezier(0, 0, .2, 1) forwards;
    animation: pulse .2s cubic-bezier(0, 0, .2, 1) forwards
}

.mdl-tooltip--large {
    line-height: 14px;
    font-size: 14px;
    padding: 16px
}

.custom-link {
    color: #636c72!important;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500
}

.btn-rounded {
    border-radius: 50%!important;
    height: 56px;
    margin: 0!important;
    min-width: 56px;
    width: 56px;
    padding: 1rem!important
}
@media only screen and (max-width: 1024px) {
    #why-us-section .reason-1, #why-us-section .reason-2, #why-us-section .reason-3  { 
       margin: 1rem 2rem; 
    } 
}
@media only screen and (max-width: 768px) {
    #why-us-section .reason-1, #why-us-section .reason-2, #why-us-section .reason-3  { 
       margin: 1rem 10rem; 
    } 
}
@media only screen and (max-width:576px) {
    header .col-6 {
        padding-right: 0
    }
    #logo,
    .main-text {
        padding: 1rem 0
    }
    #logo svg {
        display: none;
    } 
    #calculator_region {
        height: 33px;
    }

    #valuation-range #from{
        margin-top:0rem !important;
    }
    #why-us-section #why-us-reasons{
        text-align: center!important;
    }
    #why-us-section .reason-1, #why-us-section .reason-2, #why-us-section .reason-3  { 
       margin: 1rem 2rem; 
    }  
    #why-us-section img  { 
       width:50%; 
    } 
    #testimonial blockquote{ 
        padding: 0.5rem 1rem;
    }
    #about-section h3 {
        display: block!important;
    }
    #about-section .right-side {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #about-section {
        text-align: center!important;
    }
    #about-section .bq-primary {
        text-align: center;
        margin-bottom: 0;
    } 
    #about-section .blockquote {
        border-right: none;
    }
    .slick-next { 
        right: 5% !important;
    }
    .slick-prev { 
        left: 5% !important;
    }
    #request-modal-dialog .request-card-left {
        padding-right: 0px;
    }
    #request-modal-dialog .request-card-left p{ 
        padding-right:0px;
    } 
    #news-section .first-block{
        padding: 40px 10px;
    }
    .news-wrapper .first-block {
        border-top-left-radius: 6px!important;
        border-bottom-left-radius: 0!important;
        border-top-right-radius: 6px!important
    }
    .news-wrapper .second-block {
        border-bottom-left-radius: 6px!important;
        border-bottom-right-radius: 6px!important;
        border-top-right-radius: 0!important
    }
    #contact-us .radio-wrapper, #contact-us .radio-wrapper:first-child { 
        display: block;
        width:100%;
    } 
    #contact-form .md-form:nth-child(2) {
        height: 100px;
    }
    ::-webkit-scrollbar {
        display: none
    }
    #calculator_region {
        background: transparent;
        width: 100%;
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        color:#fff;
    }
    #calculator_region option{ 
        color:#292b2c;
    }
    #seller_industry {
        border: none;
        border-bottom: 1px solid #ccc;
    }
    #sellers #seller_industry {
        margin-top: 0rem;
    }
    select.form-control:not([size]):not([multiple]) {
        height: 42px;
}
}

}
